{# <project-page>
  <div class="lock">
    <flex-columns data-columns="2">
      <div>
        <h1 class="max-large-san-serif">{{ title }}</h1>
        <dl>
          <dt>Project Type</dt>
          <dd>{{ type }}</dd>
          <dt>Year</dt>
          <dd>{{ year }}</dd>
          <dt>Agency</dt>
          <dd>{{ agency }}</dd>
          <dt>Skills</dt>
          <dd>{{ skills }}</dd>
          <dt>Link</dt>
          <dd>{{ link }}</dd>
        </dl>
      </div>
      <div>
        {{ description }}
      </div>
    </flex-columns>
  </div>
</project-page> #}